.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b4dbff;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.main {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 3px;
  margin: auto;
}

.gridItem {
  border: 1px #222222 solid;
  border-radius: 2px;
}

.legend {
  width: 200px;
  margin-left: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: #222222 solid 1px;
  background-color: #b4dbff;
}
.legend-icon {
  border: 1px #222222 solid;
  border-radius: 2px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.legend ul {
  list-style: none;
  padding-inline-start: 0px !important;
}

.legend li {
  display: flex;
  align-items: baseline;
}

.UNKNOWN {
  background-color: #aaaaaa;
}
.ERROR {
  background-color: #ff7474;
}
.KWS_KERIDOS {
  background-color: #5dc76f;
}
.KWS_KERIDOS_YG {
  background-color: #f2b845;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
