.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b4dbff;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(5, 50px);
}

.gridItem {
  border: 1px #222222 solid;
}

.UNKNOWN {
  background-color: #aaaaaa;
}
.KWS_KERIDOS {
  background-color: #5dc76f;
}
.KWS_KERIDOS_YG {
  background-color: #f2b845;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
